#absolute{
	position: absolute;
	margin-top: 60px;
	margin-left: 30px;
}
#orange{
	background-color: orange;
	height: 50px;
	padding-top: 10px;
	width: 11%;
	margin-right: 17px;
}
img{
	width: 100%;
}
#grupal{
	margin-top: 40px;
	margin-left: 40px;
}
a{
	text-decoration: none;
	color:black;
	padding-left: 10px;
}
#grey{
	background-color:#403E3E;
	height: 60px;
	padding-top: 20px;
	margin-top: 40px;
}
p{
	color: white;
	margin-left: 40px;
}